.commissions-container {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  margin-top: 80px;
  /*Hey, it's Yaz. Tell me if this fixes the page format problem?*/
  /*I noticed you had the little page label(?), but I didn't know what to move for it*/

  /* height: 100%;
  margin-top: 70px; */
  background-color: #80B3BA;
}

.commissions-header {
  height: 90px;
  display: flex;
}

.commissions-top-navigator {
  width: 35%;
  display: flex;
  font-size: 20px;
  color: white;
  text-shadow: 0px 2px 3px black;
  padding: 6px;
}

.explore-sect {
  height: 1em;
  cursor: pointer;
}

.commissions-sect {
  height: 1em;
  cursor: pointer;
}

.commissions-search {
  width: 30%;
}

.sortby-btn {
  width: 100px;
}

.create {
  width: 35%;
}

.commissions-cluster {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.commissions-listing-container {
  width: 55%;
}

.commissions-listing {
  display: flex;  
  margin-bottom: 30px;
  border-radius: 25px;
  height: 85px;
  background-color: white;
  border: 8px solid #4c5b72;
  padding-left: 8px;
}

.commissions-listing:hover {
  background-color: rgb(200, 200, 200) !important; /*TEMPORARY COLOR */
  cursor: pointer;
}

.commission-title {
  font-size: 28px;
}

.date-created {
  font-size: 14px;
}

.commissions-listing-pfp {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 1.5%;
}

.pfp {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  border-radius: 50%;
}

.pfp:hover {
  cursor: pointer;
}

.commissions-selected {
  background-color: #fff7eb !important;
  border-color: #6c7a91 !important;
}

.commissions-info-container {
  width: 45%;
}

.commissions-info {
  height: 95%;
  margin-left: 20px;
  background: #fff7eb;
  border: 8px solid #4c5b72;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
}

.bottom-border {
  border-bottom: 2px solid #444444;
}

.commissions-info-title {
  height: 10%;
}

.commissions-info-description {
  height: 35%;
}

.commissions-info-arttype {
  height: 35%;
}

.commissions-info-client-container {
  height: 10%;
  display: flex;
  padding-top: 5px;
}

.commissions-info-client-rating {
  display: grid;
  padding-left: 10px;
}

.commissions-info-client-name:hover {
  cursor: pointer;
}

.commissions-info-date {
  margin-left: auto;
}

.commissions-button-container {
  display: flex;
  margin-left: auto;
  height: 10%;
}

.commissions-button-container button {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: #FF7777;
  margin-left: auto;
  color: white;
  font-size: 15px;
  text-shadow: 0px 2px 3px black;
  box-shadow: 0px 2px 3px black;
}