body {
  background-color: #80b3ba;
  padding: 0;
  margin: 0;
}

.commissions-header {
  width: 100%;
  height: 90px;
  display: flex;
}

.section {
  width: 25%;
  display: flex;
  font-size: 20px;
  color: white;
  text-shadow: 0px 2px 3px black;
  padding: 6px;
}

span + span {
  margin-left: 5px;
}

.explore-sect {
  height: 1em;
  cursor: pointer;
}

.commissions-sect {
  height: 1em;
  cursor: pointer;
}

.searchbar {
  width: 50%;
}

.sortby-btn {
  width: 100px;
  background-color: red;
}

.create {
  width: 25%;
  /*background-color: lightgoldenrodyellow; */
}

.commissions-cluster {
  display: flex;
}

.commissions-list {
  width: 55%;
  background-color: none;
}

ul li {
  width: auto;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 25px;
  background-color: white;
}

ul li:hover {
  background-color: rgb(232, 232, 232) !important; /*TEMPORARY COLOR */
  cursor: pointer;
}

.commissions-listing {
  display: flex;
  padding-left: 8px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.commission-title {
  font-size: 24px;
  margin: 0px;
}

.date-created {
  font-size: 12px;
  margin: 0px;
}

.pfp {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 1.5%;
}

.commissions-selected {
  background-color: #fff7eb !important;
  border-color: #6c7a91 !important;
}

.commissions-info-block {
  width: 45%;
  background-color: none;
}

.commissions-info {
  width: 90%;
  height: 90%;
  margin-top: 16px;
  margin-left: 20px;
  background: #fff7eb;
  border: 8px solid #4c5b72;
  border-radius: 25px;
}
