/* DailyChallenge.css
  Done by Yasmine Valencia
 */

/* Styling for the background of the DailyChallenge component */
.challenge-bg {
  background-color: #A5607D; /* Background color */
  background-size: cover;  /* Ensure background covers entire container */
  text-align: center; /* Align text content to center */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  min-height: 100vh; /* Set minimum height to full viewport height */
}

/* Styling for the container holding the challenge */
.challenge-container {
  position: relative;  /* Set position relative for child positioning */
  margin-bottom: 100px;
}

.howto {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  width: 600px;
}
.howto p {
  color: white;
  width: 600px;
}

/* Styling for the box containing the prompt */
.prompt-box{
  position: relative; /* Set position relative for child positioning */
  width: 450px; /* Set width */
  background-color: white;
  /* backdrop-filter: blur(10px); */
  /* border: none; */
  border-color: #540C2A;
  color: black; /* Text color */
  font-weight: 800;
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  padding: 30px 40px;
  margin: 10px 70px;
  
}

/* Styling for the heading inside the challenge container */
.challenge-container h1 {
    font-size: 30px;
    border-bottom: 2px solid;
}

/* Styling for the buttons to change prompt theme */
.prompt-topics .pBtns {
    /* looks fine with picture background  */
    /* position: relative; 
    padding: 10px;
    font-size: 18px;
    color: black;
    background-color: #f9f5f0;
    font-weight: 600;
    z-index: 1;
    border-radius: 10px; */
    margin: 5px;
    position: relative;
    border: 2px solid #540C2A;
    background-color: white;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box; /* Ensure box sizing includes border and padding */
    cursor: pointer; 
    display: inline-block; /* Display as inline-block */
    outline: none;
    text-decoration: none;
    transition: all 235ms ease-in-out; /* Transition effect */
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    /* -webkit-user-select: none; */
    touch-action: manipulation;

    color: #00132C;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px;
}

/* Hover effect for buttons */
.pBtns:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px; /* Box shadow on hover */
  transform: translate3d(0, 2px, 0);
}

/* Focus effect for buttons */
.pBtns:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px; /* Box shadow on focus */
}

/* Styling for the prompt text */
#prompt {
    margin: 20px 0;
    /* border-bottom: 2px solid; */
    border-color:  #540C2A;
    font-family: "Lucida Console", Courier, monospace;
}

/* Styling for the new challenge button */
.prompt-box button {
    position: relative;
    border: 2px solid #540C2A;
    background-color: white;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    outline: none;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    /* -webkit-user-select: none; */
    touch-action: manipulation;
    color: #00132C;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px;
}

/* Hover effect for new challenge button */
.prompt-box button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0); /* Translate on hover */
}

/* Focus effect for new challenge button */
.prompt-box button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
