.gallery-market-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(145deg, #153677, #4e085f);
  padding-top: 130px;
}

.gallery-title {
  font-family: notable;
  color: gold;
  font-size: 2.5rem;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Adjust column width */
  gap: 30px; /* Adjust the gap between images */
  margin-top: 45px;
  width: 80%; /* Maximum width of the container */
  height: 780px; /* Automatically adjust height based on content */
  background-color: rgba(0, 30, 57, 0.76);
  border-image-slice: 1;
  border: solid 4px yellow;
  border-radius: 20px;
  overflow-y: auto;
  padding: 30px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item img {
  width: 100%; /* Ensure images fill the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
}

.product-info {
  margin-top: 10px;
  text-align: center;
}

.product-info h3 {
  font-size: 1.2rem;
  color: white;
}

.product-info p {
  font-size: 1rem;
  color: lightgray;
  margin-bottom: 5px;
}
