* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/public/images/artGirl.png") center no-repeat;
  background-size: cover;

  /*
    terracotta color vvv
    background: #e3735e;
    */
}

.header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center; 
  padding: 15px 100px;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.main {
  position: relative;
  top: 0px;
  right: 20px;
  width: 580px;
  height: 300px;
  border: none;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

.welcome h1 {
  font-family: cursive;
  font-size: 50px;
  color: white;
  text-align: center;
}
.welcome i {
  position: absolute;
  right: 40px;
  color: grey;
  top: 58%;
  transform: translateY(-58%);
}

.search {
  position: relative;
  left: 50px;
  width: 500px;
  height: 30px;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
}

.services h2 {
  position: relative;
  padding: 10px;
  left: 25px;
  color: white;
  font-family: cursive;
  font-size: 25px;
}

.services .btns {
  position: relative;
  background-color: #4b5d4d;
  font-size: 18px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  width: 160px;
  font-weight: 500;
  margin-left: 20px;
}

footer p {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 16px;
  color: white;
}

.ArtLogo {
  width: 120px;
  height: auto;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: black;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
  background: #4b5d4d;
  color: white;
}

.navigation i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 30px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height 0.2s ease;
  transform: scale(0);
  transition: transform 0.5s ease;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper h2 {
  font-size: 36px;
  font-family: cursive;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 40px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #4b5d4d;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 0.9em;
  font-weight: 500;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 5px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background-color: #4b5d4d;
  border-radius: 40px;
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
/* .wrapper .btn:hover {
    opacity: 0.8;
} */
/*
Dark green: #2f3e33 --> Pretty cool
Pale green: #f0f1ae --> Hard Pass
Olive green: #716c2f --> Nice, but odd on page
Flat green: #4b5d4d --> Current favorite
Dark terracotta: #743019 --> Doesn't pop

*/
.login-register {
  font-size: 0.9em;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 15px;
}

.login-register p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}
