/* LandingPage CSS*/

/* Global CSS Reset */
* {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  font-family: Arial, sans-serif;
}

/* Styling for the landing page container */
.landing-container {
  /*Portion to fix background formatting issue --Yasmine */
  position: absolute; /* Should be done to all pages*/
  top: 0;
  left: 0;
  right: 0;
  display:flex;  /* Use flexbox for layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  min-height: 100vh; /* Set minimum height to full viewport height */
  background: url("/public/images/artGirl.png") center no-repeat; /* Background image */
  background-size: cover; /* Cover entire container with background image */
}

.team-container {
  position: absolute;
  top: 785px;
  background-color: #4b5d4d;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  padding: 50px 50px; /* Adjust the top and bottom padding to 300px */
}

.team-container h2{
  font-size: 50px;
  color: white;
}

.team {
  display:flex;
  height: 500px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.team-image-container {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 30px;
  color: white;
  width: 20%;
}

.team-images {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.team-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.team-name.visible {
  opacity: 1;
}
/* Main content styling */
/* Pertains the welcome/search box */
.main {
  position: absolute; /* Position element relative to its normal position */
  top: 200px;
  left: 20px;
  width: 580px;
  height: 330px;
  border: none;
  border-radius: 20px;
  backdrop-filter: blur(5px); /* Apply blur effect */
}

/* Styling for welcome message */
.welcome h1 {
  font-family: cursive;
  font-size: 50px;
  color: white;
  text-align: center;
}

/* This is temporary while we figure out a more functional search system*/
.welcome p {
  color: white;
  margin-left: 50px;
}

/* Styling for search box */
#search {
  position: relative;
  left: 50px;
  width: 500px;
  height: 30px;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
}
#output {
  color: white;
}
.services {
  position: relative;
  margin-top: 0px;
}
/* Styling for services section */
.services h2 {
  position: relative;
  padding: 10px;
  left: 25px;
  color: white;
  font-family: cursive;
  font-size: 25px;
}

/* Styling for service buttons */
.services .btns {
  position: relative;
  background-color: #4b5d4d;
  font-size: 18px;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  border: none;
  width: 160px;
  font-weight: 500;
  margin-left: 20px;
}
/* End of welcome/search box */

/* Footer styling */
footer p {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 16px;
  color: white;
}

/* Styling for logo */
.ArtLogo {
  width: 120px;
  height: auto;
}
