
/* Global CSS Reset */
* {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    font-family: Arial, sans-serif;
  }
  
  /* Styling for the landing page container */
  .logreg-container {
    position: absolute; /* Should be done to all pages*/
    top: 0;
    left: 0;
    right: 0;
    display:flex;  /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Set minimum height to full viewport height */
    background: url("/public/images/whale-at-home-illustration.png") center no-repeat; /* Background image */
    background-size: cover; /* Cover entire container with background image */
  }

  .main-box {
    position: relative;
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* transition: height .2s ease;
    transform: scale(0);
    transition: transform .5s ease; */
}
/* .wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
} */

.main-box .form-box {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 500px;
  padding: 40px;
  box-sizing: border-box;
  transition: transform .5s ease; /* Add transition for smooth animation */
}

.main-box h2{
  font-size: 36px;
  font-family: cursive;
  text-align: center;
  color: white;
}

.main-box p {
  color: white;
}

.main-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 40px;
  margin: 30px 0;
}

.main-box .line {
  width: 100px;
  height: 1px;
  position: relative;
  margin: 10px;
  background-color: #fff;
}

.main-box .divider {
  color: white;
  position: relative;
  left: -10px;
  margin-bottom: 10px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;

}

.main-box .form-box.login {
  transform: translateX(0);
}

.main-box.active .form-box.login {
  transform: translateX(-400px); /* Move login form to the left */
}

.main-box .form-box.register {
  position: absolute;
  transform: translateX(400px);
}

.main-box.active .form-box.register {
  transform: translateX(400px); /* Move register form to the right */
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 0.9em;
  font-weight: 500;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 5px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.main-box .btn {
  width: 100%;
  height: 45px;
  background-color: #4b5d4d;
  border-radius: 40px;
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-register {
  font-size: 0.9em;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 15px;
}

.login-register p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}