.mp-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffcc99;
    /*max-height: 100%;*/
}

.mp-hr{
    border-bottom: 3px solid #cc6600;
    padding-top: 100px; /*was 36px*/
}

.mp-section-header {
    font-size: 15px;
    margin-left: 10px;
    margin-top: 5px;
    color: #fff;
}

.sidebar-title{
    font-size: 40px;
    margin-left: 160px;
    margin-bottom: 200px;
    margin-top: 100px;
    color: #fff;
}

.my-points-display {
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin-top: -350px;
    margin-bottom: 0px;
}

.my-points-display img.coin{
    width: 30px; 
    height: auto;
    margin-left: 10px; 
    margin-right: 5px;
}

.my-points-display img.stall{
    width: 40px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    display: flex;
    /*max-height: 100vh;*/
    /*margin-top: 170px;*/
}

.sidebar {
    flex: 1;
    margin-top: 130px;
    margin-bottom: 200px;
    margin-left: 20px;
    margin-right: 10px;
    /*width: 20%;*/
    padding: 20px;
    background-color: #ffe6cc;
    border-radius: 30px;
    border: 2px solid #cc6600;
}

/*.content {
    flex: 1;
    padding: 20px;
}*/

select {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.item {
    padding: 40px; /*was 20px*/
    box-sizing: border-box;
    text-align: center; 
}

.items-container {
    flex: 2;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));set grid
    /*gap: 10px*/
    overflow-x: auto;
    /*padding: 5px;*/ /*change this to fix the padding around the side bar?? was 5px*/
    border: 10px solid #ff8080;
    border-radius: 10px;
    max-height: 65vh; /* was 70vh Limit the height and make it scrollable */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #fff;
    position: relative;
}

.items-container img {
    width: 80%; /*changed from 100%*/
    max-width: 100%;
    height: auto;
    /*max-height: 100px;*/
}

.item img.coin {
    width: 20px; /* Adjust the size as needed*/ 
    height: auto;
    margin-left: 5px; /* Add some margin for spacing */
}

.empty-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.filter-options {
    display: flex;
    justify-content: space-between;
}

.filter-option {
    flex: 1;
    margin-right: -10px; /* Add some spacing between filter options */
    margin-left: 10px;
}

.filter-option h3 {
    margin-bottom: 5px;
}

/*float shadow effect for each item in the item contianer*/
.mp-hvr-float-shadow {
    display: inline-block;
    vertical-align: middle; /*shadow in the middle*/
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
}

.mp-hvr-float-shadow:before {
    /*pointer-events: none;*/
    position: absolute;
    z-index: -1;
    content: ''; /*rendering content, default value*/
    top: 160px; /*changed to px form %, was 100%*/
    left: 33%;
    height: 10px;
    width: 40%;
    opacity: 0; /*not showing shadow by defalut*/
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%); /*rounded shadow*/
    transition-property: transform, opacity; /*applied to the motion and opacity of shadow*/
}

/*when hovering over items*/
.mp-hvr-float-shadow:hover,
.mp-hvr-float-shadow:focus,
.mp-hvr-float-shadow:active {
    transform: translateY(-20px); /*upward motion, was -5*/
}

/*when not hovering over items*/
.mp-hvr-float-shadow:hover:before,
.mp-hvr-float-shadow:focus:before,
.mp-hvr-float-shadow:active:before {
    opacity: 1; /*makes the shadow visible*/
    transform: translateY(20px); /*downward motion, was 5*/
}