*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}


.msg_container {
  display: flex;
  height: 100vh;
  padding: 50px;
  background: linear-gradient(
    #aef7b1 0%,
    #88ab80 130px,
    #88ab80 130px,
    #fff 100%)
}


.msg_container .leftSide {
  width: 20%;
  height: 583px;
  padding: 10px;
  background-color: #f7f8f7;
  border-right: 1px solid #b3f0b5;
  overflow-y: scroll;
}

.search_chat
{
	position: relative;
	width: 110%;
	height: 50px;
	background: #f6f6f6;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search_chat div 
{
	width: 100%;
}
.search_chat input 
{
	width: 100%;
	outline: none;
	background: #fff;
	border: none;
	padding: 6px;
	height: 38px;
	padding-left: 40px;
	border-radius: 30px;
	font-size: 14px;
}
.search_chat input::placeholder 
{
	color: #888;
}


.chatList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.chatList .block 
{
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 10px 0;
	padding: 15px 15px;
	display: flex;
	border-bottom: 1px solid rgba(0,0,0,.06);
	cursor: pointer;
}
.chatList .block.active 
{
	background: #ebebeb;
}
.chatList .block:hover
{
	background: #f5f5f5
}

.chatList .block .details
{
	position: relative;
	width: 100%;
}
.chatList .block .details .listHead
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.chatList .block .details .listHead .time
{
	font-size: 0.75em;
	color: #555;
}
.message_p
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.chatList .block .details p 
{
	color: #555;
	display: -webkit-box;
  -webkit-line-clamp: 1;
	font-size: 0.9em;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}
.chatList .block.active .details .listHead .time,
.chatList .block.active .details p 
{
	color: #111;
}

.chatList .block.unread .details .listHead .time
{
	color: #06d755;
}
.chatList .block.unread .details p 
{
	color: #111;
	font-weight: 600;
}


.chatListItem {
  padding: 10px;
  background-color: #a9e5c2;
  border-radius: 5px;
  cursor: pointer;
}

.chatListItem:hover {
  background-color: #b9d8bb;
}

.message
{
	position: relative;
	display: flex;
	width: 100%;
	margin: 5px 0;
}
.message p 
{
	position: relative;
	right: 0;
	text-align: right;
	max-width: 65%;
	padding: 12px;
	border-radius: 10px;
	text-align: right;
	font-size: 0.9em;
	background: #dcf8c6;
}
.message p:first-child:before
{
	content: '';
	position: absolute;
	top: 0;
	right: -12px;
	width: 24px;
	height: 24px;
	background: linear-gradient(135deg,#dcf8c6 0%,#dcf8c6 50%,transparent 50%,transparent 100%);
}
.message p span 
{
	display: block;
	margin-top: 5px;
	font-size: 0.85em;
	opacity: 0.5;
}

.message.my_message
{
	justify-content: flex-end;
}

.message.frnd_message
{
	justify-content: flex-start;
}
.message.frnd_message p 
{
	text-align: left;
	background: #fff;
}
.message.frnd_message p:first-child:before
{
	content: '';
	position: absolute;
	top: 0;
	left: -12px;
	width: 24px;
	height: 24px;
	background: linear-gradient(225deg,#fff 0%,#fff 50%,transparent 50%,transparent 100%);
}

.message_p b {
  background: #88ab80;
  color: #fff;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  font-size: 0.75em;
  justify-content: center;
  align-items: center;
}


.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*.chatBox {
  flex: 1;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  overflow-y: scroll;
}

.chatBox_input {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}*/

.chatBox
{
	position: relative;
	width: 100%;
	height: calc(100% - 120px);
	padding: 50px;
	overflow: auto;
}


.chatBox_input
{
	position: relative;
	padding: 15px;
	width: 100%;
	height: 60px;
	background: #f0f0f0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chatBox_input input
{
	position: relative;
	width: 90%;
	margin: 0 20px;
	padding: 10px 20px;
	border: none;
	outline: none;
	border-radius: 30px;
	font-size: 1em;
}


input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 8px;
  border: 1px solid #a4c1a5;
  background-color: #536754;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b9d8bb;
}

