/* .App {
  text-align: center;
  padding: 20px;
}
The above code causes the background to not cover the whole page
It also squishes the navigation components into the center without extra css */

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

ul.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

li {
  display: inline;
}

nav a {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-family: "Kristi", sans-serif;
  font-size: 35px;
  margin-right: 35px;
}

.logo {
  width: 120px;
  height: auto;
  margin-right: auto;
}

.profile {
  height: 50px;
}

.dropdown-menu {
  display: none; /* Hide dropdown menu by default */
  position: absolute;
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 25px;
  padding: 10px;
  width: auto;
}

.profile-menu {
  display: none; /* Hide dropdown menu by default */
  position: absolute;
  background-color: rgb(255, 255, 255);
  text-align: right;
  border-radius: 25px;
  right: 0;
}

.nav-links li:hover .profile-menu {
  display: block; /* Display dropdown menu on hover */
}

.nav-links li:hover .dropdown-menu {
  display: block; /* Display dropdown menu on hover */
}

.dropdown-menu li {
  display: block;
}
.profile-menu li {
  display: block;
}

.dropdown-menu a:hover {
  text-decoration: underline;
}
.profile-menu a:hover {
  text-decoration: underline;
}

.login-popup {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(75, 93, 77, 0.7);
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.login-popup input {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  padding: 8px;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.login-popup input:hover {
  background-color: rgb(192, 192, 192);
}

.btn-login {
  border-radius: 10px;
  width: 100%;
  background-color: rgb(10, 255, 10);
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
}

.btn-login:hover {
  background-color: rgb(0, 148, 0);
}

.login-text {
  color: white;
  margin-bottom: 35px;
}

.create-account,
.dont-have-account {
  color: white;
}

.create-account {
  text-decoration: underline;
}

.create-account:hover {
  color: blue;
}

.forgot-password {
  margin-left: auto;
  text-decoration: underline;
  color: white;
}

.forgot-password:hover {
  color: blue;
}

.remember-me {
  display: flex;
  align-items: center;
  color: white;
}
