nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 9999;
}

ul.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav a {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  /*Two guesses on who's playing with fonts :D */
  /* font-family: "Kristi", sans-serif; */
  /* font-family:'Times New Roman', Times, serif; */
  /* font-family: Optima, sans-serif; */
  /* font-family: Arial Narrow, sans-serif; */
  /* font-family: Didot, serif; */
  /* font-family: Georgia, serif; */
  font-family: American Typewriter, serif;
  font-size: 30px;
  margin-right: 35px;
}

.logo {
  width: 120px;
  height: auto;
  margin-right: auto;
}

.profile {
  height: 50px;
}

.dropdown-menu {
  display: none; /* Hide dropdown menu by default */
  position: absolute;
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 25px;
  padding: 10px;
  width: auto;
}

.profile-menu {
  display: none; /* Hide dropdown menu by default */
  position: absolute;
  background-color: rgb(255, 255, 255);
  text-align: right;
  border-radius: 25px;
  right: 0;
}

.nav-links li:hover .profile-menu {
  display: block; /* Display dropdown menu on hover */
}

.nav-links li:hover .dropdown-menu {
  display: block; /* Display dropdown menu on hover */
}

.dropdown-menu li {
  display: block;
}
.profile-menu li {
  display: block;
}

.dropdown-menu a:hover {
  text-decoration: underline;
}
.profile-menu a:hover {
  text-decoration: underline;
}

