.notification 
{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.notification:not(:empty) {
    display: flex;
}

.notification:empty {
    display: none;
}