/* background and height for nav bar*/
.payment-container {
    height: 100%;
    padding-top: 100px;
    background-color: #80B3BA;
    min-height: calc(100vh - 70px);
    text-align: center;
}

/* adds shadow and sizing for the form */
.payment-container form {
    margin-top: 20px;
    width: 700px;
    padding: 25px;
    box-shadow: 0px 0px 5px black;
    display: inline-block;
    background-color: white;
}

/* changing the header style */
.payment-form h1 {
    font-size: 40px;
    border-bottom: 2px solid #21cdd3;
    padding: 10px;
    margin-bottom: 8px;
}

/* header style for sub headers */
.payment-form h3 {
    font-size: 20px;
    padding-bottom: 5px;
}

/* changes to the blocks of text */
.personal-info, .card-info-2, .amount-info {
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
}

/* all the input boxes / sections*/
.input-info {
    width: 100%;
    margin-right: 12px;
    position: relative;
}

/* fixes issues with padding for the last child*/
.input-info:last-child {
    margin-right: 0;
}

/* allows stacking properly for payment*/
.payment-form input {
    padding: 12px 60px 12px 10px;
    width: 100%;
    border: 1px solid #0003;
    letter-spacing: 1px;
    transition: 0.3s;
}

/* fixes issues with sizing for billing and amount */
.billing-info, .amount-info{
    width: 50%;
    padding: 5px 0px;
}

/* extra margin to fix spacing */
.billing-info input, .card-info input {
    margin-bottom: 8px;
}

/* Card payment information */
.card-info {
    width: 50%;
    padding: 5px 0px;
}

/* for cvc month and year*/
.card-info-2 {
    margin-top: -10px !important;
}

