.ps-body {
  background: url("/public/PointSystem art/ps_background3.png") center no-repeat;
  background-size: cover;
  position: absolute; 
  top: 100px;
  left: 0;
  right: 0;
  display:flex;  
  justify-content: center; 
  align-items: center;
  min-height: 100vh;  
}

.ps-container {
  font-family: Arial, sans-serif;
  max-width: 950px;
  margin: 20px auto;
  padding: 50px; /*20px*/
  background: transparent;
  backdrop-filter: blur(10px);
  border: 3px solid #606060;
  border-radius: 5px;
}

/*for the artist name*/
.ps-header {
  text-align: center;
  margin-bottom: 20px;
}

.ps-header h1 {
  margin-bottom: 20px;
  font-size: 40px;
}

.ps-header h3 {
  font-size: 30px;
}

/* the coin.png for the total points*/
.ps-header img.ps_coin{
  width: 30px;
  height: auto;
  margin-right: 5px;
  margin-left: 10px;
}
  
.ps-grid-container {
  display: grid;
  /*grid-template-columns: repeat(2, 1fr);*/ /*even boxes*/
  grid-template-columns: 280px 550px; /*was 300px*/
  grid-gap: 20px;
}

/*each gird block*/
.ps-grid-item {
  padding: 20px;
  border: 2px solid #606060;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  height: auto;
  margin-bottom: 30px;
}

.ps-grid-item h3 {
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 30px;
}

/*for the coin.png on the left columns in each grid block*/
.ps-grid-item img.ps_coin {
  width: 20px;
  height: auto;
  margin-right: 5px;
  margin-left: 5px;
}

/*for the item images for the market purchases in the right block*/
.ps-grid-item img.item-img {
  width: 90px;
  height: auto;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}
  
.ps-scroll-container {
  overflow-y: auto;
  height: 150px; /*was max-height: 100*/
}

/* for market items display*/
.market-item {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-bottom: 30px;
}

/*for item name and points */
.market-item .item-info {
  font-size: 10px;
}


