/* main style of the page */
.profile-page {
  min-height: 100vh;
  background: linear-gradient(360deg, #153677, #4e085f);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container to display 4 quadrant */
.profile-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: center;
  gap: 20px; /* Spacing between boxes */
}

/* Each quadrant */
.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: calc(100% - 20px); /* Adjust width for 3 items in a row */
  margin: 50px; /* Add spacing between boxes */
  box-shadow: 0 15px 26px rgb(255, 221, 0);
}

.pic {
  height: 100%;
  width: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure the image doesn't exceed container width */
  border-radius: 15px;
  border: solid 2px rgba(255, 223, 255, 0.5); /* White border with transparency */
}

/* Hover effect */
.profile-section:hover {
  transform: scale(1.05); /* Scale up on hover */
  transition: transform 0.3s ease;
}
