/* main style of the page */
.profile-container {
  display: flex;
  flex-direction: column; /* Display children in a column */
  align-items: center; /* Center children horizontally */
  min-height: 100vh;
  background: linear-gradient(360deg, #153677, #4e085f);
}

.username_profile {
  text-align: center; /* Center the text horizontally */
  width: 100%;
  font-size: 4rem;
  margin-bottom: 50px;
  font-family: "Notable", cursive;
  color: gold;
}

.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* container to display 4 quadrant */
.profile-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: center;
  gap: 20px; /* Spacing between boxes */
}

/* Each quadrant */
.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: calc(100% - 20px); /* Adjust width for 3 items in a row */
  margin: 50px; /* Add spacing between boxes */
  /* box-shadow: 0 15px 26px rgb(255, 221, 0); */
  background-color: transparent;
}

.pic {
  height: 100%;
  width: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure the image doesn't exceed container width */
  border-radius: 15px;
  border: solid 2px rgba(255, 223, 255, 0.5); /* White border with transparency */
}

/* Hover effect */
.profile-section:hover {
  transform: scale(1.25); /* Scale up on hover */
  transition: transform 0.3s ease;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 40px rgb(0, 225, 255);
  } /* Start with a small glow */
  50% {
    box-shadow: 0 0 80px rgb(0, 255, 255);
  } /* Increase glow size */
  100% {
    box-shadow: 0 0 40px rgb(0, 255, 255);
  } /* Return to the initial glow size */
}

/* Apply the animation to the element */
.the_pic {
  animation: glowing 2s infinite alternate; /* Apply the glowing animation */
  border-radius: 15px;
  border: none;
}
