body {
    font-family: 'Arial', sans-serif; 
    background-color: #f4f4f4; 
    margin: 0;
    
  }
  
  .r_container {
    max-width: 1500px;
    height: 700px;
    margin: 30px auto;
    background-color: #a6cfa7;
    border-radius: 8px;
    display: flex; /* Two-column layout */
    padding: 30px;
  }
  

  .left-section {
    flex: 1;
    padding: 50px;
  }
  
  .right-section {
    flex: 1;
    padding: 50px;
    background-color: #f8f8f8;
    border-radius: 8px;
    height: 700px;
  }
  
  
  .title {
    text-align: center;
    width: 100%; /* Title spans full width */
    font-size: x-large;
    
  }
  
  /* Form Section */
  .form-section {
    flex: 1; /* Equal width columns */
    padding: 20px;
    margin-right: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .submit-button {
    /* ... styles for button*/
    padding: 8px;
    border: 1px solid #eef1ee;
    background-color: #536754;
    border-radius: 5px;
    cursor: pointer;
  }
  
.submit-button:hover
{
  background-color: #26de32;
}

  /* Reviews Section */
  .reviews-section {
    flex: 2;
    padding: 20px;
  }
  
  .reviews-list {
    /* ... */
  }
  
  .review-item { 
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  /* ... add styles for star display within reviews */
  

  .star-rating i.active {
    color: #ffd700;  /* color for active stars */
  }
  