.searchpage-container {
  display: flex;
  align-items: flex-start;
  background: linear-gradient(360deg, #153677, #4e085f);
  background-size: cover;
  min-height: 100vh;
  padding-top: 150px;
  padding-left: 40px; /* Add padding to the left side */
  padding-right: 40px;
}

/* Other styles remain the same */

.search-title {
  color: gold;
  margin-bottom: 100px;
  font-size: larger;
  padding-right: 50px;
}

.searchpage-input {
  width: 45%; /* Adjust width as needed */
  height: 50px;
  padding: 10px;
  border: solid gold 4px;
  border-radius: 25px;
  font-size: 25px;
  margin-top: 50px;
}

.search-results-container {
  flex: 1;
  width: 45%; /* Adjust width as needed */
  border: 5px solid gold; /* Adjust border properties as needed */
  border-radius: 15px; /* Add rounded corners */
  background-color: #fff; /* White background color */
  padding: 20px; /* Add padding for spacing */
  margin-bottom: 20px; /* Add margin between search results and other content */
}

.search-results {
  margin-top: 10px;
  margin-bottom: 20px;
}

.text-results {
  padding-bottom: 25px;
}

.user-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.user-card {
  border: 3px solid #ff5d5d; /* Add border around each user card */
  border-radius: 25px;
  padding: 20px;
  background-color: rgb(218, 255, 255);
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-details {
  flex: 1;
}

.error {
  color: red;
  margin-top: 10px;
}
